/* Google Font Nunito (alternatives: Pop pins, La to, Mont serrat, Nun ito, Quick sand, Rale way, Rob oto) */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* VARIABLES */
:root {
    --header-height: 3rem;
    --height: 1122px;
    --width: 800px;
    --left-size-width: 280px;
    --right-side-width: 520px;
    --location-icon-size: 10px;
    --interests-icon-size: 20px;
    --interests-item-width: 30px;
    --interests-item-height: 35px;
    --profile-pic-size: 120px;
    --home-icon-width: 25px;
    --skills-progress-height: 10px;
    --social-icon-width: 20px;
    --skills-progress-radius: 6px;

    /* COLORS */
    --title-color: #0B0A0A;
    --text-color-bright: #323232;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --text-color-lighter: #999999;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;

    --body-font: 'Nunito', sans-serif;

    /* FONT SIZES */
    --h1-font-size: 1.1rem;
    --h2-font-size: 0.938rem;
    --h3-font-size: 0.875rem;
    --normal-font-size: 0.813rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.688rem;
    --tiny-font-size: .63rem;
    --socials-icon-size: 1rem;
    --title-letter-spacing: .1rem;

    /* FONT WEIGHTS */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* MARGINS */
    --margin-1: .5rem;
    --margin-2: 1rem;
    --margin-3: 1.0rem;

    /* TRANSPARENCY/OPACITY */
    --z-tooltip: 10;
    --z-fixed: 100;

    /* GAPS */
    --section-gap: 3rem;
    --subsection-gap: 2rem;

    /* MARGINS */
    --leftside-padding-left: 1rem;
    --leftside-padding-right: 1rem;
    --leftside-padding-top: 0;
    --padding-bottom: 1rem;
    --rightside-padding-left: 0.8rem;
    --rightside-padding-right: 2rem;
    --rightside-padding-top: 1rem;
    --slight-indent: 0.2rem;
    --rightside-indent: 0.5rem;

    --section-above: 0.7rem;
    --section-below: 0.5rem;
    --section-title-pad: 0.65rem;

    --home-padding-top: 1rem;
    --home-data-gap: 0.25rem;
    --home-icon-font-size: 1rem;
    --home-icon-gap: 0.7rem;

    --personal-info-spacing: 0.5rem;
    --personal-info-gap: 1rem;
    --personal-info-above: 0.0rem;
    --personal-info-below: 0.0rem;
    
    --social-container-gap: 0.5rem;
    --social-icon-padding-right: 0.5rem;
    --handle-padding: 2rem;
    --skills-vertical-gap: 0.0rem;

    --experience-extra-title-gap: 0.1rem;
    --experience-line-gap: 0.6rem;
    --experience-header-below: 0.2rem;
    --experience-block-spacing: 0.8rem;

    --education-line-spacing: 0.5rem;
    --education-gap: 1rem;

    --projects-vertical-spacing: 0.5rem;    

    --interests-item-min-width: 2rem;
    --interests-column-gap: 2.5rem;
    --interests-row-gap: 1.5rem;
    --interests-indent: 0.8rem;
    --interests-extra-spacing-bottom: 0.3rem;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.resume {
    height: var(--height);
    width: var(--width);
    display: grid;
    justify-content: left;
    grid-template-columns: auto auto;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, .15);
}

.resume_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--height);
    background-color: var(--container-color-alt);
    width: var(--left-size-width);
    padding-top: var(--leftside-padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--leftside-padding-left);
    padding-right: var(--leftside-padding-right);
}

/* ============================= CLASS CSS ============================= */

.main_area {
    height: var(--height);
    /* width: calc(100% - 3rem); */
    margin-left: auto;
    margin-right: auto;
    max-width: var(--width);
}

/* .section {
    padding-top: var(--section-above);
    padding-bottom: var(--section-below);
} */

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: var(--title-letter-spacing);
    padding-bottom: var(--section-title-pad);
}

.right_side_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--right-side-width);
    padding-top: var(--rightside-padding-top);
    padding-bottom: var(--padding-bottom);
    padding-left: var(--rightside-padding-left);
    padding-right: var(--rightside-padding-right);
}

/* DARK MODE */

body.dark-theme {
    --title-color: #F2F2F2;
    --text-color-bright: #D0D0D0;
    --text-color: #BFBFBF;
    --text-color-light: #A0A0A0;
    --text-color-lighter: #666666;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2B2B2B;
}

/* ============================= ELEMENTS ============================= */

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* ============================= HOME ============================= */

.home {
    position: relative;
    padding-top: var(--home-padding-top);
}

.home_container {
    display: grid;
    gap: var(--personal-info-spacing);
    padding-top: var(--personal-info-above);
    padding-bottom: var(--personal-info-below);
}

.home_container_section {
    display: grid;
    gap: 0;
}

/* ---------------------------- HEAD ----------------------------------*/

.home_data {
    gap: var(--home-data-gap);
    text-align: center;
}

.home_img {
    width: var(--profile-pic-size);
    height: var(--profile-pic-size);
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--margin-1);
}

.home_title {
    font-size: var(--h1-font-size);
}

.home_profession {
    font-size: var(--normal-font-size);
}

.home_items {
    display: grid;
    gap: var(--personal-info-spacing);
    padding-top: var(--personal-info-gap);
}

.home_information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.home_icon {
    font-size: var(--home-icon-font-size);
    display: flex;
    width: var(--home-icon-width);
    justify-content: center;
    margin-right: var(--home-icon-gap);
}

.home_link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.home_link:hover {
    color: var(--title-color);
}

/* ============================= SOCIALS =============================  */

.social_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--social-container-gap);
    padding-right: var(--social-icon-padding-right);
}

.social_link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social_link:hover {
    color: var(--title-color);
}

.social_name {
    color: #555;
    font-size: var(--h3-font-size);
    font-weight: 500;
    display: flex;
    align-items: top;
}

.social_handle_container {
    width: 100%;
    align-items: center;
}

.social_handle {
    text-align: center;
    padding-left: var(--handle-padding);
}

.social_icon {
    font-size: var(--socials-icon-size);
    display: flex;
    width: var(--social-icon-width);
    justify-content: center;
}

/* ============================= PROFILE =============================  */

.profile_description {
    text-align: initial;
    font-size: var(--small-font-size);
}

/* ============================= SKILLS =============================  */

.skills_content {
    padding-left: var(--slight-indent);
}

.skills_line {
    padding-top: var(--skills-vertical-gap);
    justify-content: space-evenly;
}

.skills_text {
    display: inline-block;
    width: 35%;
}

.skills_progress_container {
    position: initial;
    display: inline-block;
    width: 63%;
    height: var(--skills-progress-height);
    border-radius: var(--skills-progress-radius);
    overflow: hidden;
    background-color: var(--text-color-lighter);
}

.skills_progress {
    background-color: var(--text-color-bright);
    display: block;
    height: var(--skills-progress-height);
    border-radius: var(--skills-progress-radius);
    transform: translate(0.01px, 0);
}

/* ============================= EXPERIENCE =============================  */

.experience_container {
    width: calc(0.5rem + var(--right-side-width) - var(--rightside-padding-left) - var(--rightside-padding-right));
    display: grid;
    gap: var(--experience-block-spacing);
    width: var(--right-side-width);
}

.experience_content {
    padding-top: var(--experience-extra-title-gap);
    display: flex;
}

.experience_data {
    width: 100%;
}

/* FULL LINE 1 */
.experience_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: var(--rightside-padding-right);
}

.experience_title {
    font-size: var(--h2-font-size);
}

.experience_time {
    font-size: var(--larger-font-size);
}

/* FULL LINE 2 */
.experience_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: var(--rightside-padding-right);
    padding-bottom: var(--experience-header-below);
}

.experience_company {
    color: var(--text-color-bright);
}

.experience_location {
    font-size: var(--tiny-font-size);
    color: var(--text-color-bright);
    text-align: right;
    vertical-align: middle;
}

.location_icon {
    color: #888;
    fill: #888;
    width: var(--location-icon-size);
    height: var(--location-icon-size);
    vertical-align: middle;
}

.experience_description {
    color: var(--text-color-light);
    padding-left: var(--rightside-indent);
    /* padding-right: var(--rightside-padding-right); */
    width: 93%;
    padding-top: var(--experience-line-gap);
    line-height: 1rem;
}

/* ============================= CERTIFICATE =============================  */

.education_container {
    display: grid;
    /* width: calc(var(--right-side-width) - var(--rightside-padding-left) - var(--rightside-padding-right)); */
    gap: var(--education-line-spacing);
    padding-left: var(--rightside-indent);
    /* padding-right: var(--rightside-padding-right); */
    width: calc(0.5rem + var(--right-side-width) - var(--rightside-padding-left) - var(--rightside-padding-right));
}

/* FULL LINE */
.education_content {
    display: flex;
    justify-content: space-between;
    /* padding-right: var(--rightside-padding-right); */
}

.education_data {
    display: flex;
    justify-content: left;
    align-items: center;
    /* width: 100%; */
    gap: var(--education-gap);
}

.education_institution {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    text-align: left;
}

.education_title {
    font-size: var(--h3-font-size);
}

.education_year {
    font-size: var(--small-font-size);
    text-align: right;
}

/* ============================= projects =============================  */


.projects_container {
    display: grid;
    width: 100%;
    gap: var(--projects-vertical-spacing);
}

.projects_data {
    justify-content: left;
    align-items: center;
}

.projects_icon {
    display: inline;
}

.projects_content {
    display: inline;
    justify-content: left;
    padding-left: var(--rightside-indent);
}

.projects_title {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    display: inline;
}

.project_description {
    color: var(--text-color-light);
    
}

/* ============================= INTERESTS ============================= */

.interests_container {
    display: grid;
    justify-content: space-between;
    vertical-align: center;
    /* margin-top: var(--margin-2); */
    grid-template-columns: repeat(6, max-content);
    column-gap: var(--interests-column-gap);
    row-gap: var(--interests-row-gap);
    padding-left: var(--rightside-indent);
    padding-bottom: var(--interests-extra-spacing-bottom);
    width: calc(var(--right-side-width) - 3em);
}

.interests_content {
    width: var(--interests-item-width);
    height: var(--interests-item-height);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: var(--interests-item-min-width);
}

.custom_icon {
    /* filter: grayscale(1); */
    width: var(--interests-icon-size);
    height: var(--interests-icon-size);
}

.icon_box {
    width: var(--interests-icon-size);
    height: var(--interests-icon-size);
}

/* .interests_icon {
    color: var(--text-color-light);
} */


/* ============================= BROWSER-ONLY BUTTONS ============================= */

.generate-pdf {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 1.2rem;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.generate-pdf:hover {
    color: var(--title-color);
}

.change-language {
    position: absolute;
    right: 0;
    top: 3.5rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.change-theme {
    position: absolute;
    right: 0;
    top: 1.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.change-language:hover,
.change-theme:hover {
    color: var(--title-color);
}

/* ============================= PDF-specific ============================= */

.scale-cv .change-language,
.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}