/* Google Font Nunito (alternatives: Pop pins, La to, Mont serrat, Nun ito, Quick sand, Rale way, Rob oto) */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* Variables */
:root {
    --header-height: 3rem;

    /* Colors */
    --title-color: #0B0A0A;
    --text-color-bright: #323232;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --text-color-lighter: #999999;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;

    /* Typography */
    --body-font: 'Nunito', sans-serif;

    /* Fonts size */
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .75rem;

    /* Fonts weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margins */
    --margin-1: .5rem;
    --margin-2: 1rem;
    --margin-3: 1.0rem;

    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Light/Dark Switcher */

.change-language {
    position: absolute;
    right: 0;
    top: 3.5rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.change-theme {
    position: absolute;
    right: 0;
    top: 1.2rem;
    display: flex;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.change-language:hover,
.change-theme:hover {
    color: var(--title-color);
}

/* Dark mode */

body.dark-theme {
    --title-color: #F2F2F2;
    --text-color-bright: #D0D0D0;
    --text-color: #BFBFBF;
    --text-color-light: #A0A0A0;
    --text-color-lighter: #666666;
    --container-color: #212121;
    --container-color-alt: #181616;
    --body-color: #2B2B2B;
}

body.scale-cv {
    --h1-font-size: 0.938rem;
    --h2-font-size: 0.938rem;
    --h3-font-size: 0.875rem;
    --normal-font-size: 0.813rem;
    --small-font-size: 0.75rem;
    --smaller-font-size: 0.688rem;
}

/* ============================= ELEMENTS ============================= */

body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Generate PDF Button */

.generate-pdf {
    display: none;
    position: absolute;
    left: 0;
    top: 1.2rem;
    color: var(--text-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.generate-pdf:hover {
    color: var(--title-color);
}

/* ============================= EXPERIENCE =============================  */

.experience_container {
    width: 95%;
    gap: 1rem;
}

.experience_content {
    display: flex;
}

.experience_data {
    width: 95%;
    gap: .1rem;
    padding-bottom: 10px;
}

/* -----------------  ----------------- */
.experience_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 1.0rem;
}

.experience_title {
    font-size: var(--h2-font-size);
}

.experience_time {
    font-size: var(--larger-font-size);
    /* padding-right: .5rem; */
}

/* -----------------  ----------------- */
.experience_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 1.0rem;
}

.experience_company {
    /* font-size: var(--small-font-size); */
    color: var(--text-color-bright);
}

.experience_location {
    font-size: var(--tiny-font-size);
    color: var(--text-color-bright);
    text-align: right;
    vertical-align: middle;
    /* padding-top: 10px; */
}

.location_icon {
    color: #888;
    fill: #888;
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.experience_description {
    color: var(--text-color-light);
    /* font-size: var(--small-font-size); */
    padding-top: 0.8em;
    width: 95%;
}

/* ============================= CERTIFICATE =============================  */


.certificate_container {
    display: grid;
    width: 100%;
    gap: 1.5rem;

}

.certificate_data {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;

}

.certificate_content {
    display: flex;
    justify-content: space-between;
    /* padding-right: 0.25rem; */
}

.certificate_data {
    gap: .35rem;
}

.certificate_institution {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    text-align: left;
    /* padding-top: 10px; */
}

.certificate_title {
    font-size: var(--h3-font-size);
}

.certificate_year {
    font-size: var(--small-font-size);
    text-align: right;
    /* text-align-last: right; */
    /* color: var(--text-color-light); */
}

.certificate_container {
    gap: 0.75rem;
}

/* ============================= projects =============================  */


.projects_container {
    display: grid;
    width: 100%;
    gap: 0.75rem;
}

.projects_data {
    /* display: flex; */
    justify-content: left;
    align-items: center;
    /* width: 90%; */
    /* padding: 10px; */
}

.projects_icon {
    display: inline;
}

.projects_content {
    display: inline;
    justify-content: left;
}

.projects_data {
    gap: .35rem;
}



.projects_title {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    display: inline;
}

.project_description {
    color: var(--text-color-light);
}


/* ============================= SOCIALS =============================  */

.social_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.social_link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social_link:hover {
    color: var(--title-color);
}

.social_name {
    /* justify-content: space-between; */
    color: #555;
    font-size: var(--h3-font-size);
    font-weight: 500;
    display: flex;
    align-items: top;
    gap: 10px;

}

.social_handle_container {
    width: 100%;
    align-items: center;
    padding-left: 0.5em;
}

.social_handle {
    text-align: center;
}

.social_icon {
    font-size: 1.2rem;
    display: flex;
    width: 20px;
    justify-content: center;
    /* margin-right: 0.75rem; */
}

/* ============================= PROFILE =============================  */

.profile_description {
    text-align: center;
    font-size: var(--small-font-size);
}

/* ============================= SKILLS =============================  */

.skills_content {
    gap: 0.2rem;
    padding-left: 2rem;
}

.skills_line {
    margin-bottom: .25rem;
    justify-content: space-evenly;
}

.skills_text {
    display: inline-block;
    width: 35%;
}

.skills_progress_container {
    display: inline-block;
    width: 60%;
    height: 10px;
    border-radius: 6px;
    overflow: hidden;
    background-color: var(--text-color-lighter);
}

.skills_progress {
    background-color: var(--text-color-bright);
    display: block;
    height: 10px;
    border-radius: 6px;
    /* width: 150px; */
    transform: translate(0.01px, 0);
}


/* ============================= LANGUAGES =============================  */

.languages_content {
    gap: 0.2rem;
    padding-left: 2rem;
}

.languages_line {
    margin-bottom: .25rem;
    width: 100%;
    justify-content: space-between;
}

.languages_text_container {
    display: inline-block;
    width: 40%;
}

.languages_text {
    display: inline-block;
    /* width: 30%; */
}

.languages_stars_container {
    /* position: initial; */
    display: inline-block;
    /* text-align: left; */
    color: var(--text-color-bright);
    /* width: 50%; */
    overflow: hidden;
}

.languages_stars {
    /* position: initial; */
    display: inline-block;
    /* text-align: left; */
    color: var(--text-color-bright);
    /* overflow: hidden; */
}

.languages_stars_checked {
    display: inline-block;
    color: var(--text-color-lighter);
    /* overflow: hidden; */
}



/* ============================= INTERESTS ============================= */

.interests_container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--margin-2);
}

.interests_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1em;
}

.custom_icon {
    filter: grayscale(1);
    width: 20px;
    height: 20px;
}

.interests_icon {
    font-size: 1.2rem;
    color: var(--text-color-light);
}

/* ============================= HOME ============================= */

.home_container {
    display: grid;
    gap: 1.5rem;
}

.home_data {
    display: grid;
    gap: 1.5rem;
}

.home_address {
    display: grid;
    gap: 1.5rem;
}

/* Home page */

.home {
    position: relative;
}

.home_container {
    gap: 3rem;
}

.home_data {
    gap: .5rem;
    text-align: center;
}

.home_img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--margin-1);
}

.home_title {
    font-size: var(--h1-font-size);
}

.home_profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--margin-1);
}

.home_address {
    gap: 1rem;
}

.home_information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
}

.home_icon {
    font-size: 1.2rem;
    display: flex;
    width: 25px;
    justify-content: center;
    margin-right: 0.75rem;
}

.home_link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.home_link:hover {
    color: var(--title-color);
}

.home_button-movil {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: all 0.5s ease;
    font-weight: var(--font-medium);
    margin-top: var(--margin-3);
}

.home_button-movil:hover {
    background-color: var(--text-color);
    color: var(--container-color);
}

/* ============================= Class CSS ============================= */

.main_area {
    width: 840;
    height: 1188;
}

.section {
    padding: 1.0rem 0;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--margin-3);
}

.main_area {
    max-width: 840px;
    width: calc(100% - 3rem);
    margin-left: var(--margin-3);
    margin-right: var(--margin-3);
}

.experience_container {
    display: grid;
    gap: 1.5rem;
}

.interests_container {
    display: grid;
    gap: 1.5rem;
}

.menu_header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

/* Computer screen -> PDF */

@media screen and (min-width: 500px) {
    body {
        margin: 3rem 0;
    }

    .main_area {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    .menu_header,
    .scrolltop {
        display: none;
    }

    .resume {
        display: grid;
        justify-content: left;
        grid-template-columns: auto auto;
        background-color: var(--container-color);
        box-shadow: 0 0 8px rgba(13, 12, 12, .15);
    }

    .resume_left {
        background-color: var(--container-color-alt);
        width: 280px;
    }

    .right_side_main {
        width: 520px;
    }

    .resume_left,
    .right_side_main {
        padding-top: 0;
        padding-left: 1.0rem;
        padding-right: 1.5rem;
    }

    .generate-pdf {
        display: inline-block;
    }

    .section-title,
    .profile_description {
        text-align: initial;
    }

    .home_container {
        gap: 1.5rem;
    }

    .home_button-movil {
        display: none;
    }

    .languages_content {
        padding-left: 0;
    }

    .languages_text {
        width: 150px;
    }

    .skills_content {
        padding-left: 0;
    }

    .interests_container {
        grid-template-columns: repeat(7, max-content);
        column-gap: 1.5rem;
        padding-left: 0rem;
        width: 520px;
    }

    .experience_container {
        width: 520px;
    }
}

/* PDF A4 */


.scale-cv .change-language,
.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}

.scale-cv .section {
    padding: 1.0rem 0 0.80rem;
}

.scale-cv .section-title {
    margin-bottom: 0.55rem;
}

.scale-cv .resume {
    /* height: 1122px; */
    height: 1188px;
    width: 840px;
}

.scale-cv .resume_left {
    /* width: 250px; */
    width: 280px;
    padding: 0 1.25rem;
}

.scale-cv .right_side_main {
    padding: 0 1rem 0 1.25rem;
    width: 520px;
}

.scale-cv .change-language,
.scale-cv .change-theme,
.scale-cv .generate-pdf {
    display: none;
}

.scale-cv .main_area {
    max-width: 840px;
}

.scale-cv .section {
    padding-top: 1.0rem;
}

.scale-cv .section-title {
    margin-bottom: 0.55rem;
}

.scale-cv .resume {
    /* height: 1122px; */
    width: 840px;
    height: 1122px;
}

.scale-cv .resume_left {
    /* width: 250px; */
    width: 280px;
    /* padding-top: 0.5rem; */
    padding-bottom: 0.0rem;
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}

.scale-cv .right_side_main {
    /* padding-top: 0.5rem; */
    padding-bottom: 0.0rem;
    padding-right: 1.5rem;
    padding-left: 1.0rem;
    width: 520px;
}

.scale-cv .home_img {
    width: 120px;
    height: 120px;
}

.scale-cv .home_container {
    gap: 1.5rem;
}

.scale-cv .home_data {
    gap: 0.25rem;
}

.scale-cv .home_address,
.scale-cv .social_container {
    gap: 0.75rem;
}

.scale-cv .home_icon,
.scale-cv .social_icon,
.scale-cv .interests_icon {
    font-size: 1rem;
}

.scale-cv .interests_container {
    grid-template-columns: repeat(7, max-content);
    column-gap: 1.5rem;
    padding-left: 0rem;
    width: 520px;
}

.scale-cv .experience_container {
    width: 520px;
}